@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 th {
    @apply p-2 text-lg;
  }
  td {
    @apply p-2 text-left capitalize;
  }
  tr {
  @apply hover:bg-slate-200;
}
}

.btn {
  @apply rounded-lg;
}
.submit {
  @apply bg-slate-700 px-10 py-3 text-white duration-200 tracking-widest w-full;
}
.save {
  @apply bg-slate-600 text-white px-4 py-2 rounded hover:bg-slate-700;

}
.back {
  @apply font-semibold bg-gray-300 px-4 py-2 hover:bg-gray-200 hover:text-gray-900;
}

.update {
  @apply bg-green-600  text-white px-4 py-2 rounded hover:bg-green-700
}
